<!DOCTYPE html>
<html>
	<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
		<title id="title">basic</title>
		<link rel="stylesheet" href="static/style/style.css">
        <script src="static/lib/zepto.js"></script>
        <script src="static/lib/vue.js"></script>
	</head>
	<body>
        <!-- 子组件模板 -->
        <template id="child-template">
            <input v-model="msg">
            <button v-on:click="notify">Dispatch Event</button>
            <p>what a Vue</p>
        </template>
        <!-- 父组件模板 -->
        <div id="events-example">
            <p>Messages: {{ messages | json }}</p>
            <child></child>
        </div>
        <!-- 子组件模板2 -->
        <template id="child2-template">
            child2_input:<input type="text" v-model="msg"/>
            <p>from child2-template:{{msg}}</p>
            <button v-on:click="notice">dispatch from child2</button>
            <div>
                <h1>This is my component!</h1>
                <!--<slot>-->
                    <!--This will only be displayed if there is no content-->
                    <!--to be distributed.-->
                <!--</slot>-->
            </div>
        </template>
        <!-- 父组件模板2 -->
        <div id="parent2">
            <p>from parent2-template:{{parentMsg}}</p>
            parent2_input:<input type="text" v-model="parentMsg"/>
            <child2 :msg.sync="parentMsg">
                <p>This is some original content</p>
                <p>This is some more original content</p>
                66666
            </child2>
        </div>
        <script>
            Vue.component('child', {
                template: '#child-template',
                data: function () {
                    return { msg: 'hello' }
                },
                methods: {
                    notify: function () {
                        if (this.msg.trim()) {
                            this.$dispatch('child-msg', this.msg);
                            this.msg = ''
                        }
                    }
                }
            });
            //注册组件2
            Vue.component('child2',{
                template:'#child2-template',
                props:{
                    msg:{
//                        type:Number,
                        twoWay:true
                    }
                },
                data:function() {
                    return {child2_msg:''}
                },
                methods:{
                    'notice':function() {
                        if(this.msg.trim()){
                            console.log(this.msg.trim());
                            this.$dispatch('dispatch_child',this.msg);
                            this.msg = ''
                        }
                    }
                }
            });
            // 启动父组件
            // 将收到消息时将事件推入一个数组
            var parent = new Vue({
                el: '#events-example',
                data: {
                    messages: []
                },
                // 在创建实例时 `events` 选项简单地调用 `$on`
                events: {
                    'child-msg': function (msg) {
                        // 事件回调内的 `this` 自动绑定到注册它的实例上
                        this.messages.push(msg)
                    }
                }
            });
            // 启动父组件2
            var parent2 = new Vue({
                el:'#parent2',
                data:{
                    parentMsg:'parentMsg_in_parent2'
                },
                events:{
                    'dispatch_child':function(msg){
                        alert(msg);
                    }
                }
            })
        </script>
	</body>
</html>